services:
  dev-db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"

  test-db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
